#################
## Unreal Engine
#################
Plugins/JSBSimFlightDynamicsModel/Binaries
Plugins/JSBSimFlightDynamicsModel/Intermediate
Plugins/JSBSimFlightDynamicsModel/Resources/JSBSim
Plugins/JSBSimFlightDynamicsModel/Source/ThirdParty/JSBSim/Include
Plugins/JSBSimFlightDynamicsModel/Source/ThirdParty/JSBSim/Lib
!Plugins/JSBSimFlightDynamicsModel/Source/ThirdParty/JSBSim/JSBSim_APL.xml
Binaries
DerivedDataCache
Intermediate
Saved
Windows
UEReferenceApp.sln