Makefile
Makefile.in
.deps
*.o
*.a
*.csv
*.lo
*.la
COPYING
CVS
INSTALL
VERSION
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
build*
*.exe
src/.libs/
./dotest
*.patch
*.diff
*.catalog
TAGS
.dir-locals.el
initfile.*.xml

#################
## Python
#################
__pycache__/

#################
## Visual Studio
#################

## Ignore Visual Studio temporary files, build results

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

*.VC.db
*.VC.opendb

.vs/
.vscode/

#################
## Jupyter
#################
.ipynb_checkpoints

#################
## Mac OSX
#################
.DS_Store

#################
## Clion (Jetbrains IDEs)
#################
# Project files
.idea/*
# CMake
cmake-build-*/


#################
## Unreal Engine
#################
UnrealEngine/Plugins/JSBSimFlightDynamicsModel/Binaries
UnrealEngine/Plugins/JSBSimFlightDynamicsModel/Intermediate
UnrealEngine/Plugins/JSBSimFlightDynamicsModel/Resources/JSBSim
UnrealEngine/Plugins/JSBSimFlightDynamicsModel/Source/ThirdParty/JSBSim/Lib
UnrealEngine/Plugins/JSBSimFlightDynamicsModel/Source/ThirdParty/JSBSim/LibDebug
UnrealEngine/Plugins/JSBSimFlightDynamicsModel/Source/ThirdParty/JSBSim/Include
UnrealEngine/Binaries
UnrealEngine/DerivedDataCache
UnrealEngine/Intermediate
UnrealEngine/Saved
UnrealEngine/UEReferenceApp.xcworkspace
UnrealEngine/UEReferenceApp.sln
