# see: https://www.appveyor.com/docs/appveyor-yml/

image: Visual Studio 2017

version: 1.0.0rc1-{build}

# Need to add Python 3.6 explicitly to the path for CMake to pick it up,
# also need to hide Python 2.7 otherwise CMake picks it up in preference to 3.6.
# Cython isn't installed by default so we need to install it
# Cython also gives a warning about not being on the path if the python36-x64 directory 
# name in the PATH isn't all lowercase.
# Need to call vcvarsall.bat to setup path and env variables for the 
# the VS2017 compiler in order for CMake to pick them up
# Need to explicitly set the path to Ninja.exe as the make program

init:
- set PATH=c:\python37-x64;c:\python37-x64\Scripts;%PATH%
- ren c:\python27 python27-hide

install:
- pip install cython numpy pandas scipy wheel pywin32
# Upgrade setuptools to recognize the parameter long_description_content_type
- pip install -U setuptools
# Install CXXTest for C++ unit tests
- git clone --depth=10 --branch=4.4 https://github.com/CxxTest/cxxtest.git
- set PATH=%CD%\cxxtest;%PATH%
- cd cxxtest\python
- python setup.py install
- cd ..\..

build_script:
# Build JSBSim
- md build
- cd build
- call "c:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat" x64
- cmake -G "Visual Studio 15 2017 Win64" ..
- cmake --build . --config RelWithDebInfo
- python python\setup.py sdist
- python python\setup.py build_scripts
- python python\setup.py bdist_wheel --skip-build --config RelWithDebInfo

test_script:
# Check that the Python module correctly installs
- pip install python\dist\JSBSim-1.0.0rc1-cp37-cp37m-win_amd64.whl
- python -c "import jsbsim;fdm=jsbsim.FGFDMExec('.', None)"
- pip uninstall jsbsim --yes
- ctest -j2 -E TestInputSocket
- pip install python\dist\JSBSim-1.0.0rc1.tar.gz
- python -c "import jsbsim;fdm=jsbsim.FGFDMExec('.', None)"

on_failure:
# Zip the test logs (see  https://stackoverflow.com/a/26843122 for details)
- ps: Add-Type -A 'System.IO.Compression.FileSystem'; [IO.Compression.ZipFile]::CreateFromDirectory('C:\projects\jsbsim\build\Testing\Temporary', 'C:\projects\jsbsim\build\TestLogs.zip');
# Push the zip file to AppVeyor artifacts (see https://www.appveyor.com/docs/packaging-artifacts/#pushing-artifacts-from-scripts for details)
- ps: Get-ChildItem TestLogs.zip | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }

artifacts:
- path: build\src\RelWithDebInfo\JSBSim.exe
  name: Release_Candidate_v1.0.0

- path: build\utils\aeromatic++\RelWithDebInfo\aeromatic.exe
  name: Release_Candidate_v1.0.0

- path: build\python\dist\JSBSim-1.0.0rc1-cp37-cp37m-win_amd64.whl
  name: Release_Candidate_v1.0.0

# Do not build on tags (GitHub and BitBucket)
# to avoid infinite build loops
skip_tags: true

# Removed tag: JSBSim-win64-v$(appveyor_build_version)

deploy:
- provider: GitHub
  tag: Release_Candidate_v1.0.0
  description: Release - x64
  auth_token:
    secure: YWG8FRFWv/ylTuA1DIFNcN01uFGz7xKit8CayOMTE0orPKXhztwLmwm8MZ4IzFbr
  artifact: build\src\RelWithDebInfo\JSBSim.exe,build\utils\aeromatic++\RelWithDebInfo\aeromatic.exe,build\python\dist\JSBSim-1.0.0rc1-cp37-cp37m-win_amd64.whl
  prerelease: true
  on:
    branch: v1.0.0
