name: C/C++ build

on: [push]

jobs:
  Linux:
    runs-on: ubuntu-latest
    steps:
      - name: Install Ubuntu packages
        run: sudo apt-get install doxygen cxxtest valgrind
      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: '3.6'
      - name: Install Python packages
        run: pip install -U cython numpy pandas scipy wheel
      - name: Checkout ValgrindCI
        uses: actions/checkout@v2
        with:
          repository: bcoconni/ValgrindCI
      - name: Install ValgrindCI
        run: |
          ls
          cd ValgrindCI
          python setup.py bdist_wheel
          pip install valgrindci --no-index -f dist
      - name: Checkout JSBSim
        uses: actions/checkout@v1
      - name: Configure JSBSim
        run: |
          # We don't want Doxygen to generate the HTML docs in this job (saves time)
          # Set GENERATE_HTML and HAVE_DOT to NO
          perl -i -pe 's/^(GENERATE_HTML\s*=\s*)YES/\1NO/g' doc/JSBSim.dox.in
          perl -i -pe 's/^(HAVE_DOT\s*=\s*)YES/\1NO/g' doc/JSBSim.dox.in
          mkdir build
          cd build
          cmake -DCPACK_GENERATOR=DEB -DINSTALL_PYTHON_MODULE=ON ..
      - name: Build JSBSim
        run: |
          cd build
          make -j2
      - name: Test with Valgrind
        run: |
          valgrind --tool=memcheck --leak-check=full --leak-resolution=high --track-origins=yes --xml=yes --xml-file=valgrind_Short_S23_3.xml ./build/src/JSBSim scripts/Short_S23_3.xml --end-time=5.
          valgrindci valgrind_Short_S23_3.xml --abort-on-errors
      - name: Test JSBSim
        run: |
          cd build
          ctest -j2
      - name: Build Ubuntu packages
        run: |
          cd build
          cpack
      - name: Build ManyLinux wheel packages (PEP 513)
        run: |
          cd build
          rm -f CMakeCache.txt
          rm -f python/dist/*.whl
          make clean
          # Install the Docker build environment
          docker pull quay.io/pypa/manylinux2010_x86_64
          cp ../python/build-wheels.sh .
          chmod +x build-wheels.sh
          # Build the manylinux1 wheel binary packages
          docker run --rm -v $PWD/..:/io quay.io/pypa/manylinux2010_x86_64 /io/build/build-wheels.sh
      - name: Test wheel package
        run: |
          pip install jsbsim --no-index -f build/python/dist
          python -c "import jsbsim;fdm=jsbsim.FGFDMExec('.', None);print(jsbsim.FGAircraft.__doc__)"
          pip uninstall jsbsim -y

    # Upload files
      - name: On failure - Prepare logs for upload
        if: failure()
        run: |
          mkdir logs
          cp build/Testing/Temporary/*.log logs/.
          cp build/python/*-build.log logs/.
      - name: On failure - Upload logs
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: Linux.logs
          path: logs
      - name: Upload Valgrind report
        uses: actions/upload-artifact@v1
        with:
          name: valgrind_Short_S23_3.xml
          path: ./valgrind_Short_S23_3.xml

    # Release files
      - name: Release binaries
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: ${{ github.job}} rolling release
          tag_name: ${{ github.job }}
          prerelease: true
          body: |
            Contains the ${{ github.job}} packages built from the bleeding edge code
            (branch ${{ github.ref }} commit ${{ github.sha}})
          files: |
            build/*.deb
            build/python/dist/*-manylinux1*.whl

  Windows:
    runs-on: windows-latest
    steps:
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: '3.8'
      - name: Install Python packages
        run: pip install -U cython numpy pandas scipy wheel pywin32
      - name: Install Doxygen
        run: cinst doxygen.install
      - name: Checkout CxxTest
        uses: actions/checkout@v1
        with:
          repository: CxxTest/cxxtest
          ref: '4.4'
      - name: Configure CxxTest
        run: |
          cd ..\cxxtest\python
          python setup.py install
          cd ..\..\jsbsim
      - name: Checkout JSBSim
        uses: actions/checkout@v1
      - name: Configure JSBSim
        run: |
          # We don't want Doxygen to generate the HTML docs in this job (saves time)
          # Set GENERATE_HTML and HAVE_DOT to NO
          perl -i -pe "s/GENERATE_HTML\s*=\s*YES/GENERATE_HTML = NO/g" doc\JSBSim.dox.in
          perl -i -pe "s/HAVE_DOT\s*=\s*YES/HAVE_DOT = NO/g" doc\JSBSim.dox.in
          mkdir build
          cd build
          cmake -DCMAKE_INCLUDE_PATH="$(get-location)\..\..\cxxtest" ..
      - name: Build JSBSim
        run: |
          cd build
          cmake --build . --config RelWithDebInfo
      - name: Test JSBSim
        run: |
          cd build
          ctest -j2 -E TestInputSocket --build-config RelWithDebInfo
      - name: Build wheel package for Python 3.8
        run: |
          cd build
          python python/setup.py sdist
          python python/setup.py bdist_wheel --config RelWithDebInfo
      - name: Test wheel package for Python 3.8
        run: |
          pip install jsbsim --no-index -f build/python/dist
          python -c "import jsbsim;fdm=jsbsim.FGFDMExec('.', None);print(jsbsim.FGAircraft.__doc__)"
          pip uninstall jsbsim -y
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
      - name: Build wheel package for Python 3.7
        run: |
          pip install -U cython numpy wheel pywin32
          cd build
          python python/setup.py bdist_wheel --config RelWithDebInfo
      - name: Test wheel package for Python 3.7
        run: |
          pip install jsbsim --no-index -f build/python/dist
          python -c "import jsbsim;fdm=jsbsim.FGFDMExec('.', None);print(jsbsim.FGAircraft.__doc__)"
      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: '3.6'
      - name: Build wheel package for Python 3.6
        run: |
          pip install -U cython numpy wheel pywin32
          cd build
          python python/setup.py bdist_wheel --config RelWithDebInfo
      - name: Test wheel package for Python 3.6
        run: |
          pip install jsbsim --no-index -f build/python/dist
          python -c "import jsbsim;fdm=jsbsim.FGFDMExec('.', None);print(jsbsim.FGAircraft.__doc__)"

    # Upload files
      - name: On failure - Prepare logs for upload
        if: failure()
        run: |
          mkdir logs
          cp build/Testing/Temporary/*.log logs/.
          cp build/python/*-build.log logs/.
      - name: On failure - Upload logs
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: Windows.logs
          path: logs

    # Release files
      - name: Release binaries
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: ${{ github.job}} rolling release
          tag_name: ${{ github.job }}
          prerelease: true
          body: |
            Contains the ${{ github.job}} packages built from the bleeding edge code
            (branch ${{ github.ref }} commit ${{ github.sha}})
          files: |
            build\src\RelWithDebInfo\JSBSim.exe
            build\utils\aeromatic++\RelWithDebInfo\aeromatic.exe
            build\python\dist\*.whl

  MacOSX:
    runs-on: macos-latest
    steps:
      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: '3.6'
      - name: Install Python packages
        run: pip install -U cython numpy pandas scipy wheel
      - name: Install Doxygen
        run: brew install doxygen
      - name: Checkout CxxTest
        uses: actions/checkout@v1
        with:
          repository: CxxTest/cxxtest
          ref: '4.4'
      - name: Configure CxxTest
        run: |
          cd ../cxxtest/python
          python setup.py install
          cd ../../jsbsim
      - name: Checkout JSBSim
        uses: actions/checkout@v1
      - name: Configure JSBSim
        run: |
          # We don't want Doxygen to generate the HTML docs in this job (saves time)
          # Set GENERATE_HTML and HAVE_DOT to NO
          perl -i -pe 's/^(GENERATE_HTML\s*=\s*)YES/\1NO/g' doc/JSBSim.dox.in
          perl -i -pe 's/^(HAVE_DOT\s*=\s*)YES/\1NO/g' doc/JSBSim.dox.in
          mkdir build
          cd build
          cmake -DCMAKE_INCLUDE_PATH=$PWD/../../cxxtest ..
      - name: Build JSBSim
        run: |
          cd build
          make -j2
      - name: Test JSBSim
        run: |
          cd build
          ctest -j2 -E TestInputSocket
      - name: Build wheel package
        run: |
          cd build
          python python/setup.py sdist
          python python/setup.py bdist_wheel
      - name: Test wheel package
        run: |
          pip install jsbsim --no-index -f build/python/dist
          python -c "import jsbsim;fdm=jsbsim.FGFDMExec('.', None);print(jsbsim.FGAircraft.__doc__)"
          pip uninstall jsbsim -y

    # Upload files
      - name: Upload wheel packages
        uses: actions/upload-artifact@v1
        with:
          name: Python-wheel-packages-MacOSX
          path: build/python/dist
      - name: On failure - Prepare logs for upload
        if: failure()
        run: |
          mkdir logs
          cp build/Testing/Temporary/*.log logs/.
          cp build/python/*-build.log logs/.
      - name: On failure - Upload logs
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: MacOSX.logs
          path: logs

    # Release files
      - name: Release binaries
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: ${{ github.job}} rolling release
          tag_name: ${{ github.job }}
          prerelease: true
          body: |
            Contains the ${{ github.job}} packages built from the bleeding edge code
            (branch ${{ github.ref }} commit ${{ github.sha}})
          files: |
            build/python/dist/*.whl
